body{
    background-color: gray;
}

#mini{
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f8f9fa;
    border: 1px solid grey;
    position: relative;
    border-radius: 3%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    
}
#aa{
    border-bottom:1px solid #dee2e6;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#todo{
    list-style-type: none;
}
#todo a{
    text-decoration: none;
    color: inherit;
}

.archivelist li{
    padding-top: .4em;
    padding-bottom: .4em;
}
.archivelist a{
    color: grey;
}
#afeed{
    padding: 0em;
}
@media (min-width: 1200px)
{
    #afeed{
        padding-left: 0.5em;
        
    }
}
.blog-post-meta{
    margin-bottom: 0em;
    color: #727272;
}
hr{
    margin-top: 0.5em;
}
#CSF{
    background-color: #212529;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    margin-bottom: 0.5em;
    border-bottom: 3px solid green;
    box-shadow: 5px 10px;
}
#this:hover{
    cursor: pointer;
}
nav{
    border-bottom: 2px solid green;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    margin-top: 10px;
}
.secondContainer{
    margin-left: 2em;
    margin-right: 2em;
}
